<br><br>
<h1>Edit Personal Info</h1><br>
<div class="user-edit">
    <form action="/<%=@user.username%>" method="post">
        <input type="hidden" name="_method" value="patch">
        <label>Username</label><br>
        <input type="text" name="user[username]" value="<%=@user.username%>"><br>
        <label>Email</label><br>
        <input type="text" name="user[email]" value="<%=@user.email%>"><br>
        <button><a href="/<%=@user.username%>/edit/password">Change Password</a></button><br>
        <br>
        
        <input type="submit" value="Save Changes">
    </form>

    <form action="/<%=@user.username%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete <%=@user.username%>">
    </form>
</div>