<h1><%= @user.username %>'s Profile</h1>
<br><br>
<h2>Created Character's</h2>


<div class="profile-headers">
    <div class="header-title"><h3><strong>Name</strong></h3></div>
    <div class="header-title"><h3><strong>Race</strong></h3></div>
    <div class="header-title"><h3><strong>Class</strong></h3></div>
    <div class="header-title"></div>
    <div class="header-title"></div>
</div>
<br>
<ul>
    <% @user.characters.each do |character| %>
    <div class="profile-row">
        <h3>
            <div class="column"><a href="/characters/<%=character.id%>"><%=character.name%></a></div>
            <div class="column"><%=character.race%></div>
            <div class="column"><%=character.klass%></div>
            <div class="column"><button><a id="edit" href="/characters/<%=character.id%>/edit">Edit</a></button></div>
        <% if character.incomplete? %>
            <div id="stat-check" class="column">Incomplete!</div><br>
        <% end %>
        </h3>
    </div>
    <% end %>
</ul>

<br><br>

<h5><a href="/characters/new">New Character</a></h5>
<h5><a href="/<%=@user.username%>/edit">Edit Profile</a></h5>