<br><br><br>
<div class="page-header">
    <h1><%= @user.username %></h1>
</div>
<br><br><br>
<h2>Creation's</h2>


<div class="profile-headers">
    <div class="column"><h3><strong>Name</strong></h3></div>
    <div class="column"><h3><strong>Race</strong></h3></div>
    <div class="column"><h3><strong>Class</strong></h3></div>
    <div class="column"></div>
    <div class="column"></div>
</div>
<br>
<ul>
    <% @user.characters.each do |character| %>
    <div class="profile-row">
        <h3>
            <div class="column"><a href="/characters/<%=character.id%>"><%=character.name%></a></div>
            <div class="column"><%=character.race.name%></div>
            <div class="column"><%=character.klass.name%></div>
            <div class="column"><button><a id="edit" href="/characters/<%=character.id%>/edit">Edit</a></button></div>
        <% if character.incomplete? %>
            <div id="stat-check" class="column">Incomplete!</div><br>
        <% end %>
        </h3>
    </div>
    <% end %>
</ul>
<div class="add-character">
    <button><a href="/characters/new">Add Character</a></button>
</div>
<br><br><br><br><br><br><br><br>
<div class="edit-user">
    <button><a href="/<%=@user.username%>/edit">Edit Profile</a></button>
</div>
