<h1><%= @character.name %>
<h4><a href="/<%= @character.owner %>"><%= @character.owner %></a></h4>

<h3>Race</h3>
<h5><%= @character.race %></h5>

<h3>Class</h3>
<h5><%= @character.klass %></h5>

<h3>Stats</h3>
<ul>
<% @character.stats.each do |key, value| %>
    <li><%=key%>: <%=value%></li>
<% end %>
</ul>