<h1><%= @character.name %>
<h4><a href="/<%= @character.owner %>"><%= @character.owner %></a></h4>

<h3>Race</h3>
<h5><%= @character.race.name %></h5>

<h3>Class</h3>
<h5><%= @character.klass.name %></h5>

<h3>Stats</h3>
<ul>
<% @character.stats.each do |key, value| %>
    <li><%=key%>: <%=@character.send(value)%></li>
<% end %>
</ul>
<div class="skills-container">
    <% @character.skills.each do |skill| %>
        <li><%= skill.name %></li>
    <% end %>
</div>
<br>
<h5><a href="/characters/<%=@character.id%>/edit">Edit Character</a></h5>
<br>
<form action="/characters/<%=@character.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete <%=@character.name%>">
</form>