<br><br>
<div class="character-header">
<h1><%= @character.name %></h1>
<h3><a href="/<%= @character.owner %>"><%= @character.owner %></a></h3>
</div>
<div class="character-show">
    <div class="race-klass">
    <div class="race-box">
        <h2>Race</h2>
        <h3><%= @character.race.name %></h3>
    </div>
    <div class="klass-box">
        <h2>Class</h2>
        <h3><%= @character.klass.name %></h3>
    </div>
</div>
<div class="stats-show">
    <div class="health-container">
    <h2>Stats</h2>
    <label>Health Points</label>
    <h3><%=@character.hp%></h3><br>
    </div>
    <% @character.stats.each_slice(2) do |key, val| %>
    <div class="show-row">
        <div class="show-column">
            <label><%= key[0] %></label><br>
            <h3><%=@character.send(key[1])%></h3><br>
        </div>
        <div class="show-column">
            <label><%= val[0] %></label><br>
            <h3><%=@character.send(val[1])%></h3><br>
        </div>
    </div>
    <% end %>
</div>

<div class="skills-show">
    <h2>Skills</h2>
    <% @character.skills.each_slice(4) do |skill| %>

    <div class="skills-row">
        <div class="skill-column"><h3><%=skill[0].name%></h3></div>
        <% if skill[1] %>
        <div class="skill-column"><h3><%=skill[1].name%></h3></div>
        <% end %>
        <% if skill[2] %>
        <div class="skill-column"><h3><%=skill[2].name%></h3></div>
        <% end %>
        <% if skill[3] %>
        <div class="skill-column"><h3><%=skill[3].name%></h3></div>
        <% end %>
    </div>
    <% end %>
</div>
<br><br>
<br><br>

    <div class="edit-char">
        <button><a href="/characters/<%=@character.id%>/edit">Edit Character</a></button>
        <form action="/characters/<%=@character.id%>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="DELETE">
        </form>
    </div>
    <br>
</div>